body{
    background-color: rgb(36, 36, 39);
}
p{
    color: floralwhite;
}
#upper{
    width: 100%;
    background-color: wheat;
    height: 25px;
    
    
}
#under{
    padding-top: 1000px;
 
}
img{
    width: 170px;
    height: 120px;
}
#center{
    display: flex;

}
div{
    padding: 5px;
}
